.container {
  max-width: 1280px;
}

.hover-img:hover:after {
  opacity: 1;
}

.hover-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.img-container {
  position: relative;
  width: 92%;
}

.instagram-container {
  position: relative;
  width: 92%;
}

.img-container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.instagram-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.instagram-positioning {
  top: 65px;
  right: 5px;
}

.icon-container {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  background-color: #3b5998;
  font-size: 30px;
}

.facebook:hover {
  cursor: pointer;
}

.instagram {
  background-color: #3f729b;
  font-size: 33px;
}

.instagram:hover {
  cursor: pointer;
}

.footer-title{
  font-weight: 100;
  font-size: 25px;
}